*{
    margin: 0;
    padding: 0;
    border: 0;
}
span{
    font-size: 1.19rem;
    font-weight: 700;
}
.ballonBox1{
    margin-top: -30px;
    z-index: 9999999999;
    position: relative;
    top: 1345px;
    left: 120px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}
.ballonBox2{
    margin-top: -30px;
    z-index: 9999999999;
    position: relative;
    top: 1900px;
    left: 300px;
    display: inline-block;
    font-family: "Poppins", sans-serif;
}
.iconeMais{
    transition: 250ms;
    opacity: 0.8;
}
.ballon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 5rem;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 30px #00000040;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 99999999;
    transition: 250ms;
    opacity: 0;
    padding: 20px;
}
.iconeMais:hover + .ballon{
    opacity: 1;
    visibility: visible;
}
.iconeMais:hover{
    opacity: 0.5;
    transition: 200ms;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    background-color: #fff;
}
.hero{
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 309.4px;
    background-image: url(/assets/heroBio7.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: cadetblue; */
}
.slide2{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 582px;
    width: 90%;
    color: #1E274A;
    /* background-color: chartreuse; */
}
.modoDeUso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 50%;
    height: 100%;
    padding: 0 25px 0 25px;
    /* background-color: #fff; */
    font-family: "Poppins", sans-serif;
}
.modoDeUso p{
    font-size: 1.19rem;
    font-weight: 300;
}
.modoDeUso h1{
    font-family: "Caveat Brush", cursive;
    font-size: 2.5rem;
}
.tituloModoDeUso{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}
#youtube{
    filter: grayscale(1);
    transition: 200ms;
    opacity: 0.5;
}
#youtube:hover{
    filter: grayscale(0);
    transition: 200ms;
    cursor: pointer;
    opacity: 1;
}
.primeira{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.13rem;
    font-weight: 300;
}
.segunda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.13rem;
    font-weight: 300;
}
.terceira{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.13rem;
    font-weight: 300;
}
.embalagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    background-image: url(/assets/embalagem.png);
    background-size: cover;
    background-repeat: no-repeat;

}
.miniSlide{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 90%;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #FFCC49, #FFCC49, #FFCC49, #F08C0B);
}
.esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    border-top-right-radius: 70px;
    background-color: #1E274A;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
}

.esquerda h1{
    width: 100%;
    text-align: center; 
}

.direita{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    font-size: 17px;
    font-weight: 900;
    color: #fff;
}
.slide3{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 582px;
    width: 90%;
    color: #1E274A;
    /* background-color: chartreuse; */
}
.topicosProduto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/topicosOficial.png);
    background-size: cover;
    width: 45%;
    height: 100%;
    /* background-color: #404040; */
}
.selos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #FFEECD, #FFEECD,#FFEECD,#fff);
}
#biodegradavel{
    transition: 200ms;
}
#respectEnviroment{
    transition: 200ms;
}
#fragranciaCitrus{
    transition: 200ms;
}
#tecnologiaBrasileira{
    transition: 200ms;
}
#biodegradavel:hover{
    transform: scale(1.1);
    transition: 200ms;
}
#respectEnviroment:hover{
    transform: scale(1.1);
    transition: 200ms;
}
#fragranciaCitrus:hover{
    transform: scale(1.1);
    transition: 200ms;
}
#tecnologiaBrasileira:hover{
    transform: scale(1.1);
    transition: 200ms;
}
.aplicacoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #fff;
    font-size: 1.13rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}
.aplicacoes p{
    padding: 0px 50px 0px 50px;
    font-weight: 300;
}
.aplicacoes h1{
    font-family: "Caveat Brush", cursive;
    font-size: 2.5rem;
}
.slide4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 582px;
    width: 90%;
    /* background-color: #FFCC49; */
    background-image: url(/assets/bgAntesDepois.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    font-family: "Poppins", sans-serif;
}
.slide4 p{
    color: #fff;
    font-size: 1.19rem;
    font-weight: 300;
}

.laterais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100%;
}
.imagem img{
    border-radius: 30px;
}
.certificados{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 367px;
    width: 90%;
    background-image: url(/assets/bgESG.png);
    /* background-color: coral; */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Poppins", sans-serif;
}
.esq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    /* background-color: #404040; */
    color: #595959;
    font-size: 22px;
}
.esq h1{
    font-weight: 900;
    font-size: 45px;
    line-height: 50px;
    margin-left: 50px;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
    /* background-color: #838383; */
}
.middle p{
    font-family: uni sans light;
    padding: 0px 100px 0px 100px;
}
.dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    /* background-color: #aeaeae; */
}

.dir .seloB {
    width: 6.25rem;
}
.miniSlideTitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 90%;
    /* background-color: antiquewhite; */
    font-family: "Caveat Brush", cursive;
}
.linhas{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 288px;
    width: 90%;
    background-color: #000;
    transition: 300ms;
    font-family: "Poppins", sans-serif;
}
.auto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
    /* background-color: #404040; */
    transition: 300ms;
    background-image: url(/assets/autoAntes.png);
    background-size: cover;
    filter: grayscale(1);
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
    /* background-color: #6d6d6d; */
    transition: 300ms;
    background-image: url(/assets/HomeAntes.png);
    background-size: cover;
    filter: grayscale(1);
}

.contruction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
    /* background-color: #b6b6b6; */
    transition: 300ms;
    background-image: url(/assets/ConstructAntes.png);
    background-size: cover;
    filter: grayscale(1);
}

.linha:hover {
    transition: 300ms;
    width: 80%;
    filter: grayscale(0);
}
.linha p{
    color: #fff;
    transition: 300ms;
}
.auto:hover{
    background-image: url(/assets/auto.png);
    background-size: cover;
    cursor: pointer;
}
.home:hover{
    background-image: url(/assets/home.png);
    background-size: cover;
    cursor: pointer;
}
.contruction:hover{
    background-image: url(/assets/construct.png);
    background-size: cover;
    cursor: pointer;
}

.auto:hover p{
    transition: 300ms;
    font-size: 80px;
    color: #C2335A;
    margin-top: 150px;
    font-weight: 900;
    text-shadow: 0 0 100px #000000;
}
.home:hover p{
    transition: 300ms;
    font-size: 80px;
    color: #51BECA;
    margin-top: 150px;
    font-weight: 900;
    filter: grayscale(0);
    text-shadow: 0 0 100px #000000;
}

.contruction:hover p{
    transition: 300ms;
    font-size: 80px;
    color: #FBB832;
    margin-top: 150px;
    font-weight: 900;
    text-shadow: 0 0 100px #000000;
}

/* ///////////////////////////////// */
/* ///////// RESPONSIVOS ////////// */

/* CELULARES PEQUENOS */
@media (max-width: 767px) {
    span{
        font-size: 15px;
    }
    .hero{
        background-image: url(/assets/heroBio7Mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    .slide2{
        flex-direction: column;
        width: 100vw;
    }

    .ballonBox1 {
        top: 1458px;
        left: -38px;
    }

    .ballonBox2 {
        top: 2400px;
        left: 0px;
    }

    .tituloModoDeUso{
        justify-content: space-around;
        flex-direction: column;
        max-width: 100vw;
    }
    .tituloModoDeUso h1{
        font-size: 40px;
    }
    .modoDeUso{
        padding: 0;
        width: 100vw;
    }
    .modoDeUso p{
        font-size: 14px;
        padding: 0 30px 0 30px;
    }
    .embalagem{
        width: 100%;
    }
    .primeira img {
        width: 50px;
    }
    .segunda img{
        width: 50px;
    }
    .terceira img{
        width: 50px;
    }
    .etapas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding: 0 10px 0 10px;
    }
    .primeira p{
        font-size: 14px;
    }
    .segunda p{
        font-size: 14px;
    }
    .terceira p{
        font-size: 14px;
    }
    .miniSlide{
        width: 100%;
        height: fit-content;
        flex-direction: column;
        background: linear-gradient(to bottom,#FFCC49, #FFCC49, #FFCC49, #F08C0B);;
    }
    .esquerda{
        display: flex;
        justify-content: center;
        height: 150px;
        width: 100%;
        font-size: 10px;
        text-wrap: wrap;
    }
    .esquerda h1{
        padding: 0 10px 0 30px;
    }
    .direita{
        height: 100px;
        width: 100%;
    }
    .slide3{
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .topicosProduto{
        width: 100%;
        height: 385px;
    }
    .selos{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 150px;
    }
    .selo{
        width: 80px;
    }
    .aplicacoes{
        width: 100%;
    }
    .slide4{
        flex-direction: column;
        width: 100%;
        height: 600px;
    }
    .laterais{
        width: 100%;
    }
    .imagem img{
        width: 90%;
    }
    .certificados{
        flex-direction: column;
        width: 100%;
        height: 1000px;
    }
    .middle{
        width: 100%;
        padding: 0;
    }
    .middle p{
        padding: 0 30px 0 30px;
    }

    .linhas{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
    }
    .auto{
        height: 100px;
        width: 100%;
    }
    .home{
        height: 100px;
        width: 100%;
    }
    .contruction{
        height: 100px;
        width: 100%;
    }
    .linha:hover{
        width: 100%;
    }

    .auto:hover p{
        font-size: 40px;
        margin-top: 0;
    }
    .home:hover p{
        font-size: 40px;
        margin-top: 0;
    }
    .contruction:hover p{
        font-size: 40px;
        margin-top: 0;
    }

    .esq h1 {
        margin-left: 0;
    }
}


/* TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {

    .conteudo{
        scale: 0.5;
    }
}

/* MONITORES GRANDES */
@media (min-width: 1441px) and (max-width: 1920px) {

}

/* MONITORES ULTRA WIDE */
@media (min-width: 1921px) {
    .conteudo{
        max-width: 1500px;
    }
}